/* ################################
Created by D. Gilogley - Instructure Inc.
Date: 2021.01.21
Purpose: Remove/Hide the Instructure logo from the Canvas Login page, and the Dashboard
0.3 - final version prior to PROD - Christopher McAvaney (Instructure) - 20220520
0.5 - updating footer spacing - Christopher McAvaney (Instructure) - 20220622
0.9 - adjusting the staging banner - Christopher McAvaney (Instructure) - 20230110
################################### */

/* Remove logo from Canvas Login Page */
footer#footer > a.ic-Login-footer__logo-link {display:none !important;}

/* Remove logo from Dasboard Page */
footer#footer > a.footer-logo.ic-app-footer__logo-link {display:none !important;}

/* Remove excess padding on Dashboard Page*/
footer#footer > div#footer-links a {margin-left: 0.25rem; margin-right: 0.25rem;}

#qdoe-staging-banner {
	position: fixed;
	/* left hand side */
/*	left: calc(-100vh + 2em); */
	/* right hand side */
	right: 0;
	top: 2em; /* -height */
	/* keep in mind it is rotated 90 degrees so height and width are flipped */
	height: 2em;
	background-color: yellow;
	z-index: 9999;
	width: 90vh;
	text-align: center;
	transform: rotate(270deg);
	transform-origin: 100% 100%;
	font-weight: bold;
	color: black;
}
