:root {
        --ic-brand-primary-darkened-5: #0B2643;
--ic-brand-primary-darkened-10: #0A243F;
--ic-brand-primary-darkened-15: #0A223C;
--ic-brand-primary-lightened-5: #17324F;
--ic-brand-primary-lightened-10: #233D58;
--ic-brand-primary-lightened-15: #2F4861;
--ic-brand-button--primary-bgd-darkened-5: #0B2643;
--ic-brand-button--primary-bgd-darkened-15: #0A223C;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-28: #677179;
--ic-link-color-darkened-10: #0067B3;
--ic-link-color-lightened-10: #1980CB;
--ic-brand-primary: #0b2846;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #0072C6;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #0b2846;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #0b2846;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #0b2846;
--ic-brand-header-image: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_189630000000000001/attachments/441/QLearn-App-icon-2.svg');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_189630000000000001/attachments/4843/favicon-64px.ico');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_189630000000000001/attachments/442/QLearn-App-icon-2.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_189630000000000001/attachments/443/QLearn-App-icon-2.svg');
--ic-brand-Login-Content-bgd-color: #0b2846;
--ic-brand-Login-Content-border-color: #ffffff;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }